# <font color="purple"><h3 align="center">DataFrame Basics Tutorial</h3></font>

## **Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet**

In [32]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [33]:
df.shape # rows, columns = df.shape

(6, 4)

## <font color='blue'>Rows</font>

In [34]:
df.head() # df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [35]:
df.tail() # df.tail(2)

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [36]:
df[1:3]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## <font color='blue'>Columns</font>

In [37]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [38]:
df['day'] # or df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [39]:
type(df['day'])

pandas.core.series.Series

In [40]:
# Specifying more columns to extract from.
df[['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

## <font color='blue'>Operations On DataFrame</font>

In [41]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [42]:
#We are extracing a single maximum value from the temperature column in the dataframe
df['temperature'].max()

35

In [43]:
# Extracing the minimum windspeed
df['windspeed'].min()

2

In [44]:
#This is extracing a row whose temperature is greater than 32
df[df['temperature']>32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [45]:
# Extracing a row whose event value is Rain
df[df['event']=='Rain']

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain
4  1/5/2017           32          4  Rain

In [46]:
# This is extracing a row whose temperature has the maximum value
# This is different from just extracing a single value
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [47]:
#You could also print a certain column from this specificaiton
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

1    1/2/2017
Name: day, dtype: object

In [48]:
# P: select the windspeed when the event is Rain
df['windspeed'][df['event']=='Rain']

0    6
4    4
Name: windspeed, dtype: int64

In [49]:
# P: select the windspeed when the temperature is at minimum value
df['windspeed'][df['temperature']==df['temperature'].min()]

3    7
Name: windspeed, dtype: int64

In [50]:
# Selecting a row whose temperature is at maximum value
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [51]:
df['temperature'].std()

3.8297084310253524

In [52]:
df['event'].max() # But mean() won't work since data type is string

'Sunny'

In [53]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

**Google pandas series operations to find out list of all operations**
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

## <font color='blue'>set_index</font>

In [54]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [55]:
#This allows you to change the index value as day, but returns a new dataframe
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [68]:
# This changes the original dataframe
df.set_index('day', inplace=True)

KeyError: "None of ['day'] are in the columns"

In [69]:
#This reverses what we have done previously
df.reset_index(inplace=True)

In [70]:
df

        day  index  temperature  windspeed  event
0  1/1/2017      0           32          6   Rain
1  1/2/2017      1           35          7  Sunny
2  1/3/2017      2           28          2   Snow
3  1/4/2017      3           24          7   Snow
4  1/5/2017      4           32          4   Rain
5  1/6/2017      5           31          2  Sunny

In [65]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [66]:
#loc returns the data from certain rows
df.loc['1/2/2017']

index              1
temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [24]:
df.reset_index(inplace=True)
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [25]:
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [26]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7