<h1 style="color:blue" align="center">Crosstab Tutorial</h1>

In [2]:
import pandas as pd
df = pd.read_excel("survey.xls")
df

      Name Nationality     Sex  Age Handedness
0    Kathy         USA  Female   23      Right
1    Linda         USA  Female   18      Right
2    Peter         USA    Male   19      Right
3     John         USA    Male   22       Left
4   Fatima   Bangadesh  Female   31       Left
5    Kadir   Bangadesh    Male   25       Left
6   Dhaval       India    Male   35       Left
7   Sudhir       India    Male   31       Left
8   Parvir       India    Male   37      Right
9      Yan       China  Female   52      Right
10    Juan       China  Female   58       Left
11   Liang       China    Male   43       Left

### These tables are the contingency tables or the crosstabs

In [3]:
pd.crosstab(df.Nationality,df.Handedness)

Handedness   Left  Right
Nationality
Bangadesh       2      0
China           2      1
India           2      1
USA             1      3

In [4]:
pd.crosstab(df.Sex,df.Handedness)

Handedness  Left  Right
Sex
Female         2      3
Male           5      2

In [5]:
#P: practice
pd.crosstab(df.Nationality, df.Age)

Age          18  19  22  23  25  31  35  37  43  52  58
Nationality
Bangadesh     0   0   0   0   1   1   0   0   0   0   0
China         0   0   0   0   0   0   0   0   1   1   1
India         0   0   0   0   0   1   1   1   0   0   0
USA           1   1   1   1   0   0   0   0   0   0   0

<h2 style="color:purple">Margins</h2>

In [6]:
pd.crosstab(df.Sex,df.Handedness, margins=True)

Handedness  Left  Right  All
Sex
Female         2      3    5
Male           5      2    7
All            7      5   12

In [7]:
#P: practice
pd.crosstab(df.Nationality, df.Age, margins=True)

Age          18  19  22  23  25  31  35  37  43  52  58  All
Nationality
Bangadesh     0   0   0   0   1   1   0   0   0   0   0    2
China         0   0   0   0   0   0   0   0   1   1   1    3
India         0   0   0   0   0   1   1   1   0   0   0    3
USA           1   1   1   1   0   0   0   0   0   0   0    4
All           1   1   1   1   1   2   1   1   1   1   1   12

<h2 style="color:purple">Multi Index Column and Rows</h2>

In [8]:
pd.crosstab(df.Sex, [df.Handedness,df.Nationality], margins=True)

Handedness       Left                 Right           All
Nationality Bangadesh China India USA China India USA
Sex
Female              1     1     0   0     1     0   2   5
Male                1     1     2   1     0     1   1   7
All                 2     2     2   1     1     1   3  12

In [9]:
pd.crosstab([df.Sex,df.Nationality], [df.Handedness], margins=True)

Handedness          Left  Right  All
Sex    Nationality
Female Bangadesh       1      0    1
       China           1      1    2
       USA             0      2    2
Male   Bangadesh       1      0    1
       China           1      0    1
       India           2      1    3
       USA             1      1    2
All                    7      5   12

<h2 style="color:purple">Normalize</h2>

In [10]:
pd.crosstab(df.Sex, df.Handedness, normalize='index')

Handedness      Left     Right
Sex
Female      0.400000  0.600000
Male        0.714286  0.285714

<h2 style="color:purple">Aggfunc and Values</h2>

In [11]:
import numpy as np
pd.crosstab(df.Sex, df.Handedness, values=df.Age, aggfunc=np.average)

Handedness  Left  Right
Sex
Female      44.5   31.0
Male        31.2   28.0